@tailwind base;
@tailwind components;
@tailwind utilities;


/* Colors */
:root {

}

.icon-10xl {
  height: 8rem;
}

.icon-9xl {
  height: 7rem;
}

.icon-8xl {
  height: 6rem;
}

.icon-7xl {
  height: 5rem;
}

.icon-6xl {
  height: 4.5rem;
}

.icon-5xl {
  height: 3.25rem;
}

.icon-4xl {
  height: 2.75rem;
}

.icon-3xl {
  height: 2.25rem;
}

.icon-2xl {
  height: 2rem;
}

.icon-xl {
  height: 1.75rem;
}

.icon-lg {
  height: 1.7rem;
}

.icon-md {
  height: 1.5rem;
}

.icon-sm {
  height: 1.2rem;
  min-width: 1.2rem;
}

.icon-xs {
  height: 1rem;
}


.form-group {
  @apply flex flex-col mb-12 sm:mb-16 last:mb-4;
}

.form-group h2,
.form-group .h2 {
  @apply text-lg font-bold text-slate-900 dark:text-slate-200;
}


.form-group input,
.form-group textarea {
  @apply transition-all cursor-pointer bg-slate-50 dark:bg-slate-700 bg-opacity-60 dark:bg-opacity-100 border border-slate-300 dark:border-slate-500 rounded-lg p-2 shadow-inner focus:ring-2 focus:ring-blue-400 ring-offset-2 dark:hover:bg-blue-800 dark:hover:border-blue-700 dark:hover:bg-opacity-20 dark:focus:bg-blue-800 dark:focus:border-blue-700 dark:focus:bg-opacity-20;
}


.form-group .hint {
  @apply text-sm text-slate-500 mb-2 dark:text-slate-400;
}

.card-option {
  @apply flex items-center text-slate-800 dark:text-slate-200 bg-white dark:bg-slate-800 px-3 py-2 border-b-2 border-slate-100 dark:border-slate-800 rounded-lg text-left transition-all hover:bg-slate-50 hover:text-black dark:hover:bg-slate-700 dark:hover:text-slate-100;
}

.card-option.selected {
  @apply text-blue-500 hover:text-blue-600 dark:text-blue-400 dark:hover:text-blue-300;
}

.defect-chip {
  @apply transition-all px-3 shadow-sm py-1 rounded-full dark:bg-opacity-40 shadow-blue-400/50 dark:shadow-blue-900/70 bg-blue-100 dark:bg-blue-900 dark:text-blue-300  mr-1 mb-2 text-blue-900  hover:bg-blue-200 dark:hover:bg-blue-800;
}

.defect-chip.selected {
  @apply bg-blue-500 text-white hover:bg-blue-600 dark:bg-blue-600 dark:hover:bg-blue-700 bg-opacity-100 shadow-md shadow-blue-600/30 dark:shadow-blue-900/60;
}

.inventory-type-picker {
  @apply flex flex-wrap;
}

.inventory-type-picker button {
  @apply bg-slate-100 rounded-lg px-6 py-6 text-slate-900 font-semibold mr-2 mb-2;
}

.selection-panel {
  @apply  text-sm rounded-lg p-2 text-blue-800 font-semibold  border bg-slate-100 hover:bg-slate-200 dark:text-slate-200 dark:bg-slate-600 dark:border-slate-500 hover:dark:bg-slate-500 w-full text-center focus:ring-2 ring-blue-700 cursor-pointer;
}

.selection-panel.selected {
  @apply bg-blue-500 text-white dark:bg-blue-700 dark:border-blue-700 cursor-default;
}

.button {
  @apply flex items-center text-sm transition-all py-2 rounded-full w-min font-semibold  text-blue-900 border border-slate-400 dark:border-slate-500 bg-white hover:bg-slate-200 dark:text-slate-200 dark:bg-slate-600 dark:hover:bg-slate-500 ;
}