---
title: Page not found | RapidStep10
description: We couldn't find that page. Send us an error report, or return to our homepage.
layout: layouts/home.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---

<script>
  document.addEventListener('alpine:init',  function () {
    Alpine.data('notFoundApp',  function () {
      return {
        url: "",
        get contactLink() {
          return "mailto:michoel@hey.com?subject=Broken%20link%20report%20-%20" + this.url
        }
      }
    });
  });
</script>

<section
  x-data='notFoundApp'
  x-init='url = window.location.href'
  class="text-center text-xl mt-6 rounded-lg border border-slate-300 dark:border-slate-500 p-12 bg-blue-100 dark:bg-slate-800 bg-opacity-75">
  <h1 class="text-3xl mb-4 font-bold">Where'd it go?</h1>
  <p class=''>We tried looking for:</p>
  <code class='text-xl' x-text='url'></code>

  <p class='block mb-4 mt-3'>But there was nothing there.</p>
  <a :href='contactLink' class='block underline mb-6 text-blue-500 dark:text-blue-400  decoration-2 decoration-blue-500 dark:decoration-blue-400 hover:decoration-blue-600  dark:hover:decoration-blue-300'>Tell us about it ›</a>

  <div class='flex flex-col items-center'>
    <a href='/' class='bg-blue-600 hover:bg-blue-700 dark:bg-blue-700 dark:hover:bg-blue-600 transition-all  rounded-full text-white py-2 px-6 '>
      ‹ Back to Home
    </a>
  </div>
</section>

<script>
  // Automatically report the 404 error
  window.addEventListener('load', (event) => {
    window.fathom?.trackGoal('CQLZNTXN', 0);
  });
</script>
