<!doctype html>
<html lang="{{ lang.locale }}" dir="{{ lang.dir }}" class='bg-blue-50 dark:bg-slate-900 h-full min-h-screen'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">

    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#eff6ff">
    <meta name="theme-color" media="(prefers-color-scheme: dark)"  content="#0f172a">

    <link rel="manifest" href="/manifest.json">


    {% include 'head/seo.njk' %}
    {% include 'head/i18n.njk' %}
    {% include 'head/honeybadger.njk' %}
    {% include 'head/javascript-libs.njk' %}
    {% include 'head/fathom.njk' %}
    {% include 'head/assets-retry.njk' %}

    <script>
      // Set a UTM tag on the page
      if ('URLSearchParams' in window) {
          var searchParams = new URLSearchParams(window.location.search)
          searchParams.set("utm_source", "address_bar");
          var newRelativePathQuery = window.location.pathname + '?' + searchParams.toString();
          history.replaceState(null, '', newRelativePathQuery);
      }
    </script>


    <style>
      /* Hide Alpine templates until library loads and boots up */
      [x-cloak] {
        visibility: hidden;
        overflow: hidden
      }
    </style>
  </head>
  <body>
    {# <header>
      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
      <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </header> #}

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>

    <section class='h-full bg-blue-50 dark:bg-slate-900 dark:text-white flex flex-col items-center'>
      <div class='px-3 mb-2'>

        <h1 class='pt-4 sm:pt-8 px-8 text-slate-900 dark:text-slate-100 text-center text-3xl sm:text-4xl font-semibold mb-2'> {{ 'appTitle' | i18n(lang) }} </h1>
        <p class='text-slate-500 dark:text-slate-400 sm:text-xl text-center leading-tight mb-2'>{{ 'appSlogan' | i18n(lang) }}
          <br>
          <span class='text-sm'> {{ 'basedOnAAPage84' | i18n(lang) }} </span>
        </p>

      </div>


        <noscript>

          <a href="https://www.enable-javascript.com/" target='_blank' noopener class='group cursor-pointer bg-amber-50 border-amber-300 dark:bg-amber-200 dark:bg-opacity-20 border dark:border-amber-400 text-amber-900 dark:text-slate-200 rounded-xl mb-6 py-8 pl-3 pr-12 flex items-center'>
            <svg xmlns="http://www.w3.org/2000/svg" class='icon-xl ml-3 mr-6 bg-amber-400 ring-8 text-white ring-amber-400 rounded-full' fill="currentColor" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path d="M218.9,71a63.9,63.9,0,0,1-89.8,81h0L73,217a24,24,0,0,1-34-34l65-56.1h0a63.9,63.9,0,0,1,81-89.8L143,79l5.7,28.3L177,113Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path></svg>

            <div>
              <p class='text-3xl font-bold mb-1'>Before we begin...</p>
              <p>Your JavaScript is turned off.</p>
              <p class='mb-2'>Let's fix that.</p>
              <p class='underline decoration-2 decoration-amber-400 font-semibold text-amber-800 dark:text-amber-400 group-hover:text-amber-600'>Show me how  ›</p>
            </div>
          </a>

        </noscript>

        {{ content | safe }}

       </section>


    </main>

    <footer>

    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
