<!doctype html>
<html lang="en" class='bg-slate-100 dark:bg-slate-900 h-full min-h-screen'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
 
    <!-- Open Graph / Facebook -->  
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ url or metadata.url }}">
    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta property="og:image" content="{{ url or metadata.url }}/open-graph-banner.jpg">
    
    <!-- Twitter -->  
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ url or metadata.url }}">
    <meta property="twitter:title" content="{{ title or metadata.title }}">
    <meta property="twitter:description" content="{{ description or metadata.description }}">
    <meta property="twitter:image" content="{{ url or metadata.url }}/open-graph-banner.jpg">


    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">

    <!-- Honeybadger error monitoring -->
    <script src="//js.honeybadger.io/v3.2/honeybadger.min.js" type="text/javascript"></script>
 
    <script type="text/javascript">
      Honeybadger.configure({
        apiKey: 'hbp_vB747sDA7gxOqDRINd6YpAYdf11L470FN11m',
        environment: 'production'
      });
    </script>


    <script defer src="https://unpkg.com/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@marcreichel/alpine-autosize@latest/dist/alpine-autosize.min.js" defer></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    
    <script defer src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>

    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" data-site="YGRAOWPW" defer></script>
  


    <style>
      /* Hide Alpine templates until library loads and boots up */
      [x-cloak] { display: none !important; }
    </style>
  </head>
  <body>
    {# <header>
      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
      <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </header> #}

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>

      {{ content | safe }}
    </main>

    <footer>
      <!-- Global site tag (gtag.js) - Google Analytics -->
     
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
